HalloWCF/WCFClient/Connected Services/ServiceReference1/HalloWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HalloWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HalloWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKlasse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Klasse" nillable="true" type="tns:Klasse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKlasse" nillable="true" type="tns:ArrayOfKlasse" />
  <xs:complexType name="Klasse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MyBroperty" type="xs:int" />
      <xs:element minOccurs="0" name="MyString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klasse" nillable="true" type="tns:Klasse" />
</xs:schema>